In [4]:
import pandas as pd

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [5]:
pokemon = pd.read_csv("pokemon.csv")

In [6]:
pokemon.head()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
3,4,I,Charmander,Hitokage,fire,NaN,Lizard Pokémon,88.14,11.86,0.6,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,It has a preference for hot things. When it ra...
4,5,I,Charmeleon,Lizardo,fire,NaN,Flame Pokémon,88.14,11.86,1.1,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,"It has a barbaric nature. In battle, it whips ..."

In [7]:
pokemon.columns

Index(['national_number', 'gen', 'english_name', 'japanese_name',
       'primary_type', 'secondary_type', 'classification', 'percent_male',
       'percent_female', 'height_m', 'weight_kg', 'capture_rate',
       'base_egg_steps', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense',
       'speed', 'abilities_0', 'abilities_1', 'abilities_2',
       'abilities_hidden', 'against_normal', 'against_fire', 'against_water',
       'against_electric', 'against_grass', 'against_ice', 'against_fighting',
       'against_poison', 'against_ground', 'against_flying', 'against_psychic',
       'against_bug', 'against_rock', 'against_ghost', 'against_dragon',
       'against_dark', 'against_steel', 'against_fairy', 'is_sublegendary',
       'is_legendary', 'is_mythical', 'evochain_0', 'evochain_1', 'evochain_2',
       'evochain_3', 'evochain_4', 'evochain_5', 'evochain_6', 'gigantamax',
       'mega_evolution', 'mega_evolution_alt', 'description'],
      dtype='object')

In [8]:
type(pokemon)

pandas.core.frame.DataFrame

In [9]:
pokemon["english_name"]

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
893     Regieleki
894     Regidrago
895     Glastrier
896     Spectrier
897       Calyrex
Name: english_name, Length: 898, dtype: object

In [10]:
len(pokemon["english_name"])

898

In [15]:
type(pokemon["english_name"])

pandas.core.series.Series

In [16]:
pokemon.english_name

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
893     Regieleki
894     Regidrago
895     Glastrier
896     Spectrier
897       Calyrex
Name: english_name, Length: 898, dtype: object

In [17]:
# dtype = data type

In [18]:
pokemon.dtypes

national_number         int64
gen                    object
english_name           object
japanese_name          object
primary_type           object
secondary_type         object
classification         object
percent_male           object
percent_female         object
height_m              float64
weight_kg             float64
capture_rate           object
base_egg_steps          int64
hp                      int64
attack                  int64
defense                 int64
sp_attack               int64
sp_defense              int64
speed                   int64
abilities_0            object
abilities_1            object
abilities_2            object
abilities_hidden       object
against_normal        float64
against_fire          float64
against_water         float64
against_electric      float64
against_grass         float64
against_ice           float64
against_fighting      float64
against_poison        float64
against_ground        float64
against_flying        float64
against_psychic       float64
against_bug           float64
against_rock          float64
against_ghost         float64
against_dragon        float64
against_dark          float64
against_steel         float64
against_fairy         float64
is_sublegendary         int64
is_legendary            int64
is_mythical             int64
evochain_0             object
evochain_1             object
evochain_2             object
evochain_3             object
evochain_4             object
evochain_5             object
evochain_6             object
gigantamax             object
mega_evolution         object
mega_evolution_alt     object
description            object
dtype: object

In [20]:
pokemon["description"].dtype

dtype('O')

- HP - how many hits a Pokémon can endure
- Attack – how hard a Pokémon hits others
- Defense – how hard a Pokémon can be hit
- Special Attack – similar to attack
- Special Defense – similar to defense
- Speed – how quick a Pokémon is

In [22]:
pokemon.columns

Index(['national_number', 'gen', 'english_name', 'japanese_name',
       'primary_type', 'secondary_type', 'classification', 'percent_male',
       'percent_female', 'height_m', 'weight_kg', 'capture_rate',
       'base_egg_steps', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense',
       'speed', 'abilities_0', 'abilities_1', 'abilities_2',
       'abilities_hidden', 'against_normal', 'against_fire', 'against_water',
       'against_electric', 'against_grass', 'against_ice', 'against_fighting',
       'against_poison', 'against_ground', 'against_flying', 'against_psychic',
       'against_bug', 'against_rock', 'against_ghost', 'against_dragon',
       'against_dark', 'against_steel', 'against_fairy', 'is_sublegendary',
       'is_legendary', 'is_mythical', 'evochain_0', 'evochain_1', 'evochain_2',
       'evochain_3', 'evochain_4', 'evochain_5', 'evochain_6', 'gigantamax',
       'mega_evolution', 'mega_evolution_alt', 'description'],
      dtype='object')

In [23]:
pokemon["hp"]

0       45
1       60
2       80
3       39
4       58
      ...
893     80
894    200
895    100
896    100
897    100
Name: hp, Length: 898, dtype: int64

$$2 * hp + 110$$

In [24]:
2 * pokemon["hp"][0] + 110

200

In [26]:
2 * pokemon["hp"][897] + 110

310

In [27]:
2 * pokemon["hp"] + 110  # broadcasting

0      200
1      230
2      270
3      188
4      226
      ...
893    270
894    510
895    310
896    310
897    310
Name: hp, Length: 898, dtype: int64

$$2 * attack + 5$$

In [28]:
2 * pokemon["attack"] + 5

0      103
1      129
2      169
3      109
4      133
      ...
893    205
894    205
895    295
896    135
897    165
Name: attack, Length: 898, dtype: int64

$$2 * defense + 5$$

$$2 * sp\_attack + 5$$

In [29]:
pokemon[
    ["attack", "defense"]
]

     attack  defense
0        49       49
1        62       63
2        82       83
3        52       43
4        64       58
..      ...      ...
893     100       50
894     100       50
895     145      130
896      65       60
897      80       80

[898 rows x 2 columns]

In [30]:
type(pokemon[
    ["attack", "defense"]
])

pandas.core.frame.DataFrame

In [31]:
2 * pokemon[
    ["attack", "defense"]  # sp_attack sp_defense speed
] + 5

     attack  defense
0       103      103
1       129      131
2       169      171
3       109       91
4       133      121
..      ...      ...
893     205      105
894     205      105
895     295      265
896     135      125
897     165      165

[898 rows x 2 columns]

In [32]:
stats = ["hp", "attack", "defense", "sp_attack", "sp_defense", "speed"]
2 * pokemon[stats[1:]] + 5  # Broadcasting works on dataframes too

     attack  defense  sp_attack  sp_defense  speed
0       103      103        135         135     95
1       129      131        165         165    125
2       169      171        205         205    165
3       109       91        125         105    135
4       133      121        165         135    165
..      ...      ...        ...         ...    ...
893     205      105        205         105    405
894     205      105        205         105    165
895     295      265        135         225     65
896     135      125        295         165    265
897     165      165        165         165    165

[898 rows x 5 columns]

In [33]:
columns = [
    "national_number",
    "gen",
    "english_name",
    "primary_type",
    "secondary_type",
    "hp",
    "attack",
    "defense",
    "sp_attack",
    "sp_defense",
    "speed",
    "is_sublegendary",
    "is_legendary",
    "is_mythical",
]

In [34]:
pokemon[columns].head()

,national_number,gen,english_name,primary_type,secondary_type,hp,attack,defense,sp_attack,sp_defense,speed,is_sublegendary,is_legendary,is_mythical
0,1,I,Bulbasaur,grass,poison,45,49,49,65,65,45,0,0,0
1,2,I,Ivysaur,grass,poison,60,62,63,80,80,60,0,0,0
2,3,I,Venusaur,grass,poison,80,82,83,100,100,80,0,0,0
3,4,I,Charmander,fire,NaN,39,52,43,60,50,65,0,0,0
4,5,I,Charmeleon,fire,NaN,58,64,58,80,65,80,0,0,0

In [36]:
pokemon = pokemon[columns]

In [37]:
pokemon.head()

,national_number,gen,english_name,primary_type,secondary_type,hp,attack,defense,sp_attack,sp_defense,speed,is_sublegendary,is_legendary,is_mythical
0,1,I,Bulbasaur,grass,poison,45,49,49,65,65,45,0,0,0
1,2,I,Ivysaur,grass,poison,60,62,63,80,80,60,0,0,0
2,3,I,Venusaur,grass,poison,80,82,83,100,100,80,0,0,0
3,4,I,Charmander,fire,NaN,39,52,43,60,50,65,0,0,0
4,5,I,Charmeleon,fire,NaN,58,64,58,80,65,80,0,0,0

In [42]:
pokemon.assign(
    final_hp = 2 * pokemon["hp"] + 110,
    final_attack = 2 * pokemon["attack"] + 5,
)

,national_number,gen,english_name,primary_type,secondary_type,hp,attack,defense,sp_attack,sp_defense,speed,is_sublegendary,is_legendary,is_mythical,final_hp,final_attack
0,1,I,Bulbasaur,grass,poison,45,49,49,65,65,45,0,0,0,200,103
1,2,I,Ivysaur,grass,poison,60,62,63,80,80,60,0,0,0,230,129
2,3,I,Venusaur,grass,poison,80,82,83,100,100,80,0,0,0,270,169
3,4,I,Charmander,fire,NaN,39,52,43,60,50,65,0,0,0,188,109
4,5,I,Charmeleon,fire,NaN,58,64,58,80,65,80,0,0,0,226,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,894,VIII,Regieleki,electric,NaN,80,100,50,100,50,200,1,0,0,270,205
894,895,VIII,Regidrago,dragon,NaN,200,100,50,100,50,80,1,0,0,510,205
895,896,VIII,Glastrier,ice,NaN,100,145,130,65,110,30,1,0,0,310,295
896,897,VIII,Spectrier,ghost,NaN,100,65,60,145,80,130,0,0,0,310,135
897,898,VIII,Calyrex,psychic,grass,100,80,80,80,80,80,0,0,0,310,165

In [43]:
stats

['hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']

In [45]:
2 * pokemon[stats] + (110, 5, 5, 5, 5, 5)

      hp  attack  defense  sp_attack  sp_defense  speed
0    200     103      103        135         135     95
1    230     129      131        165         165    125
2    270     169      171        205         205    165
3    188     109       91        125         105    135
4    226     133      121        165         135    165
..   ...     ...      ...        ...         ...    ...
893  270     205      105        205         105    405
894  510     205      105        205         105    165
895  310     295      265        135         225     65
896  310     135      125        295         165    265
897  310     165      165        165         165    165

[898 rows x 6 columns]

In [48]:
pokemon = pokemon.join(
    2 * pokemon[stats] + (110, 5, 5, 5, 5, 5),
    rsuffix = "_final"
)

In [51]:
pokemon.head(2)

,national_number,gen,english_name,primary_type,secondary_type,hp,attack,defense,sp_attack,sp_defense,speed,is_sublegendary,is_legendary,is_mythical,hp_final,attack_final,defense_final,sp_attack_final,sp_defense_final,speed_final
0,1,I,Bulbasaur,grass,poison,45,49,49,65,65,45,0,0,0,200,103,103,135,135,95
1,2,I,Ivysaur,grass,poison,60,62,63,80,80,60,0,0,0,230,129,131,165,165,125

In [55]:
pokemon["hp"] + pokemon["attack"] + pokemon["speed"]

0      139
1      182
2      242
3      156
4      202
      ...
893    380
894    380
895    275
896    295
897    260
Length: 898, dtype: int64

In [56]:
pokemon["hp"].sum()

61990

In [57]:
pokemon["hp"].min()

1

In [58]:
pokemon["hp"].max()

255

In [60]:
pokemon["hp"].mean()

69.03118040089088

In [62]:
pokemon[stats].mean()

hp            69.031180
attack        76.544543
defense       71.886414
sp_attack     69.681514
sp_defense    69.876392
speed         65.949889
dtype: float64

In [63]:
pokemon[stats].sum()

hp            61990
attack        68737
defense       64554
sp_attack     62574
sp_defense    62749
speed         59223
dtype: int64

In [64]:
pokemon[stats].mean(axis=1)

0      53.000000
1      67.500000
2      87.500000
3      51.500000
4      67.500000
         ...
893    96.666667
894    96.666667
895    96.666667
896    96.666667
897    83.333333
Length: 898, dtype: float64

# total

In [67]:
pokemon = pokemon.assign(
    total = pokemon[stats].sum(axis=1)
)

In [68]:
pokemon.dtypes

national_number      int64
gen                 object
english_name        object
primary_type        object
secondary_type      object
hp                   int64
attack               int64
defense              int64
sp_attack            int64
sp_defense           int64
speed                int64
is_sublegendary      int64
is_legendary         int64
is_mythical          int64
hp_final             int64
attack_final         int64
defense_final        int64
sp_attack_final      int64
sp_defense_final     int64
speed_final          int64
total                int64
dtype: object

In [69]:
pokemon["is_sublegendary"].unique()

array([0, 1])

In [70]:
pokemon["is_sublegendary"].astype("bool")

0      False
1      False
2      False
3      False
4      False
       ...
893     True
894     True
895     True
896    False
897    False
Name: is_sublegendary, Length: 898, dtype: bool

In [73]:
pokemon = pokemon.astype(
    {
        "is_sublegendary": "bool",
        "is_legendary": "bool",
        "is_mythical": "bool",
    }
)

In [75]:
pokemon["is_mythical"].value_counts()

is_mythical
False    878
True      20
Name: count, dtype: int64

In [76]:
pokemon["is_mythical"].sum()

20

In [77]:
pokemon[  pokemon["is_mythical"]  ]

,national_number,gen,english_name,primary_type,secondary_type,hp,attack,defense,sp_attack,sp_defense,...,is_sublegendary,is_legendary,is_mythical,hp_final,attack_final,defense_final,sp_attack_final,sp_defense_final,speed_final,total
150,151,I,Mew,psychic,NaN,100,100,100,100,100,...,False,False,True,310,205,205,205,205,205,600
250,251,II,Celebi,psychic,grass,100,100,100,100,100,...,False,False,True,310,205,205,205,205,205,600
384,385,III,Jirachi,steel,psychic,100,100,100,100,100,...,False,False,True,310,205,205,205,205,205,600
385,386,III,Deoxys,psychic,NaN,50,150,50,150,50,...,False,False,True,210,305,105,305,105,305,600
488,489,IV,Phione,water,NaN,80,80,80,80,80,...,False,False,True,270,165,165,165,165,165,480
489,490,IV,Manaphy,water,NaN,100,100,100,100,100,...,False,False,True,310,205,205,205,205,205,600
490,491,IV,Darkrai,dark,NaN,70,90,90,135,90,...,False,False,True,250,185,185,275,185,255,600
491,492,IV,Shaymin,grass,grass,100,100,100,100,100,...,False,False,True,310,205,205,205,205,205,600
492,493,IV,Arceus,normal,NaN,120,120,120,120,120,...,False,False,True,350,245,245,245,245,245,720
493,494,V,Victini,psychic,fire,100,100,100,100,100,...,False,False,True,310,205,205,205,205,205,600
646,647,V,Keldeo,water,fighting,91,72,90,129,90,...,False,False,True,292,149,185,263,185,221,580
647,648,V,Meloetta,normal,psychic,100,77,77,128,128,...,False,False,True,310,159,159,261,261,185,600
648,649,V,Genesect,bug,steel,71,120,95,120,95,...,False,False,True,252,245,195,245,195,203,600
718,719,VI,Diancie,rock,fairy,50,100,150,100,150,...,False,False,True,210,205,305,205,305,105,600
719,720,VI,Hoopa,psychic,ghost,80,110,60,150,130,...,False,False,True,270,225,125,305,265,145,600
720,721,VI,Volcanion,fire,water,80,110,120,130,90,...,False,False,True,270,225,245,265,185,145,600
800,801,VII,Magearna,steel,fairy,80,95,115,130,115,...,False,False,True,270,195,235,265,235,135,600
801,802,VII,Marshadow,fighting,ghost,90,125,80,90,90,...,False,False,True,290,255,165,185,185,255,600
806,807,VII,Zeraora,electric,NaN,88,112,75,102,80,...,False,False,True,286,229,155,209,165,291,600
807,808,VII,Meltan,steel,NaN,46,65,65,55,35,...,False,False,True,202,135,135,115,75,73,300

In [78]:
pokemon["is_legendary"].sum()

20

In [79]:
pokemon[  pokemon["is_legendary"]  ]

,national_number,gen,english_name,primary_type,secondary_type,hp,attack,defense,sp_attack,sp_defense,...,is_sublegendary,is_legendary,is_mythical,hp_final,attack_final,defense_final,sp_attack_final,sp_defense_final,speed_final,total
149,150,I,Mewtwo,psychic,NaN,106,110,90,154,90,...,False,True,False,322,225,185,313,185,265,680
248,249,II,Lugia,psychic,flying,106,90,130,90,154,...,False,True,False,322,185,265,185,313,225,680
249,250,II,Ho-Oh,fire,flying,106,130,90,110,154,...,False,True,False,322,265,185,225,313,185,680
381,382,III,Kyogre,water,NaN,100,100,90,150,140,...,False,True,False,310,205,185,305,285,185,670
382,383,III,Groudon,ground,NaN,100,150,140,100,90,...,False,True,False,310,305,285,205,185,185,670
383,384,III,Rayquaza,dragon,flying,105,150,90,150,90,...,False,True,False,320,305,185,305,185,195,680
482,483,IV,Dialga,steel,dragon,100,120,120,150,100,...,False,True,False,310,245,245,305,205,185,680
483,484,IV,Palkia,water,dragon,90,120,100,150,120,...,False,True,False,290,245,205,305,245,205,680
486,487,IV,Giratina,ghost,dragon,150,100,120,100,120,...,False,True,False,410,205,245,205,245,185,680
642,643,V,Reshiram,dragon,fire,100,120,100,150,120,...,False,True,False,310,245,205,305,245,185,680
643,644,V,Zekrom,dragon,electric,100,150,120,120,100,...,False,True,False,310,305,245,245,205,185,680
645,646,V,Kyurem,dragon,ice,125,130,90,130,90,...,False,True,False,360,265,185,265,185,195,660
715,716,VI,Xerneas,fairy,NaN,126,131,95,131,98,...,False,True,False,362,267,195,267,201,203,680
716,717,VI,Yveltal,dark,flying,126,131,95,131,98,...,False,True,False,362,267,195,267,201,203,680
717,718,VI,Zygarde,dragon,ground,108,100,121,81,95,...,False,True,False,326,205,247,167,195,195,600
788,789,VII,Cosmog,psychic,NaN,43,29,31,29,31,...,False,True,False,196,63,67,63,67,79,200
789,790,VII,Cosmoem,psychic,NaN,43,29,131,29,131,...,False,True,False,196,63,267,63,267,79,400
790,791,VII,Solgaleo,psychic,steel,137,137,107,113,89,...,False,True,False,384,279,219,231,183,199,680
791,792,VII,Lunala,psychic,ghost,137,113,89,137,107,...,False,True,False,384,231,183,279,219,199,680
799,800,VII,Necrozma,psychic,psychic,97,107,101,127,89,...,False,True,False,304,219,207,259,183,163,600

In [80]:

pokemon["is_sublegendary"] or pokemon["is_legendary"] or pokemon["is_mythical"]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().